<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Main Navigation-->
<div class="container">
    <div class="d-flex justify-content-center mt-2">PRODUCT EDITION</div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center hover-zoom hover-overlay">
                <label for="image">
                    <img class="img-fluid rounded" ng-src="{{'/images/'+form.image}}"  style="max-width:100%;height:230px;">
                </label>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="form-group col-sm-6 mb-4">
                        <div>Name</div>
                        <input ng-model="form.name" class="form-control">
                    </div>
                    <div class="form-group col-sm-6 mb-4">
                        <div>Price</div>
                        <input ng-model="form.price" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6 mb-4">
                        <div>Image</div>
                        <input type="file" class="form-control" id="image"
                               onchange="angular.element(this).scope().imageChanged(this.files)">
                    </div>
                    <div class="form-group col-sm-6 mb-4">
                        <div>Category</div>
                        <select ng-model="form.category.id" class="form-control select">
                            <option ng-repeat="c in cates" ng-value="c.id">{{c.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6 mb-4">
                        <div>Create Date</div>
                        <input ng-model="form.createDate" type="date" class="form-control">
                    </div>
                    <div class="form-group col-sm-6 mb-4">
                        <div>Available?</div>
                        <div class="form-control">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" ng-model="form.available" type="radio" name="available"
                                       id="inlineRadio1" ng-value="true" />
                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" ng-model="form.available" type="radio" name="available"
                                       id="inlineRadio2" ng-value="false" />
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-2">
            <button type="button" class="btn btn-success btn-rounded me-2" ng-click="create()">ADD</button>
            <button type="button" class="btn btn-primary btn-rounded me-2" ng-click="update()">UPDATE</button>
            <button type="button" class="btn btn-danger btn-rounded me-2" ng-click="delete(form)">DELETE</button>
            <button type="button" class="btn btn-dark btn-rounded me-2" ng-click="reset()">CLEAR</button>
        </div>
    </div>
    <hr>
</div>
</body>
</html>