<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 lighten-3">
	<div class="container-fluid">
		<a class="btn shadow-0 p-0 me-3 ripple-surface" data-bs-toggle="offcanvas" href="#offcanvasExample"
			role="button" aria-controls="offcanvasExample">
			<i class="fas fa-bars fa-lg"></i>
		</a>
		<a class="navbar-brand mt-2 mt-lg-0" href="#">
			<img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="15" alt=""
				loading="lazy" />
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse text-dark">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">HOME</a></li>
				<li class="nav-item"><a class="nav-link active" aria-current="page" href="/shop">SHOP</a></li>
				<li class="nav-item"><a class="nav-link active" aria-current="page" href="/contact">CONTACT</a></li>
				<li class="nav-item" th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">
					<a class="nav-link active" aria-current="page" href="/admin">ADMINISTRATION</a>
				</li>
			</ul>

			<form class="d-flex input-group w-auto" method="GET" action="/shop/seach">

				<input type="search" class="form-control rounded" name="name" placeholder="Search" aria-label="Search"
					aria-describedby="search-addon" /> <span class="nav-link active" id="search-addon"> <i
						class="fas fa-search"></i>
				</span>
			</form>
			<ul class="navbar-nav align-items-center mr-4">
				<li><a class="text-reset me-3" href="/shop/cart"> <i class="fas fa-shopping-cart"></i>
						<th:block th:if="${#request.remoteUser}">
						<span class="badge rounded-pill badge-notification bg-danger">{{cart.count}}</span>
				        </th:block>
					</a></li>
				<th:block th:unless="${#request.remoteUser}">
					<li class="btn btn-primary btn-rounded"><a class="text-reset me-3" href="/security/login/form">SIGN IN</a>
					</li>
				</th:block>
				<!-- Avatar -->
				<th:block th:if="${#request.remoteUser}">
				<a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuLink"
					role="button" data-mdb-toggle="dropdown" aria-expanded="false">
					<img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="25" alt="User" loading="lazy" />
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
					<li><a class="dropdown-item" href="/profile">My profile</a></li>
					<li><a class="dropdown-item" href="/security/login/form">Login</a></li>
					<li><a class="dropdown-item" href="/security/logoff">Logout</a></li>
				</ul>
				</th:block>
			</ul>
		</div>
	</div>
</nav>