<!DOCTYPE html>
<html xmlns="http://www.thymleaf.org" th:replace="~{/layout/action :: dynamic(~{:: body})}">

<head>
    <meta charset="utf-8">
    <title>Details</title>
</head>
<body>
<div class="d-flex justify-content-center mt-3">
    <span> SẢN PHẨM CHI TIẾT</span>
</div>
<hr>
<div class="container mb-5" th:object="${Product}">
    <div class="row d-flex flex-row">
        <div class="col-md-5 flex-content-end">
            <img th:src="@{|/images/*{image}|}" class="img-fluid img-thumbnail hover-shadow"
                 alt="image product" style="max-height: 380px; max-width: 100%">
        </div>
        <div class="col-md-5">
            <h5 class="text-uppercase text-secondary" th:text="*{category.name}"></h5>
            <h2 class="fs-3" th:text="*{name}"></h2>
            <h5 class="text-secondary fs-6 fw-bold" th:text="*{price}"></h5>
            <div class="text-secondary text-small" th:text="*{createDate}"></div>
            <div class="text-secondary text-small mt-2">size :</div>
            <div class="my-3">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="size" id="btnradio4" autocomplete="off" checked>
                    <label class="btn btn-outline-dark" for="btnradio4">S</label>

                    <input type="radio" class="btn-check" name="size" id="btnradio5" autocomplete="off">
                    <label class="btn btn-outline-dark" for="btnradio5">M</label>

                    <input type="radio" class="btn-check" name="size" id="btnradio6" autocomplete="off">
                    <label class="btn btn-outline-dark" for="btnradio6">L</label>
                </div>
            </div>

            <button class="btn btn-dark w-100 my-4" id="liveToastBtn" th:attr="ng-click=@{|cart.add(*{id})|}">
                <i class="bi bi-cart-plus-fill"></i> Add to Cart
            </button>


        </div>
    </div>

</div>
<div class="d-flex justify-content-center mt-3">
    <span> SẢN PHẨM TƯƠNG TỰ</span>
</div>
<hr>
<div class="container">
    <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">

        <div class="col" th:each=" page : ${page.getContent()}">
            <div class="p-3">
                <div class="cardd">

                    <div class="imgBx hover-zoom">
                        <a th:href="@{|/shop/product/${ page.id}}|">
                            <img th:src="@{|/images/${page.image}|}" alt="product image">
                        </a>
                    </div>

                    <div class="contextBx">
                        <h3 th:text="${ page.name }"></h3>
                        <h2 class="price" th:text="${ page.price }"><small>.22</small></h2>
                        <button class="btn btn-primary btn-rounded" th:attr="ng-click=@{|cart.add(${page.id})|}">Buy
                            now
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- End of Footer -->
<div class="position-fixed top-0 start-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" class="rounded me-2" height="16"
                 alt="logo"
                 loading="lazy"/>
            <strong class="me-auto">STORE</strong>
            <small>1 second ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-success">
            <span>Item is successfully added to your cart.</span>
            <i class="fas fa-check-circle"></i>
        </div>
    </div>
</div>
<!-- End of Toast -->
<script>
    var toastTrigger = document.getElementById('liveToastBtn')
    var toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', function () {
            var toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    }
</script>
</body>
</html>